.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container > div {
  width: 300px;
  height: 300px;
  background-color: cadetblue;
  transform: scale(2);
} */
.container > div {
  width: 300px;
  height: 300px;
  background-color: darkcyan;
  animation-name: InAndOut;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
@keyframes InAndOut {
  0% {
    transform: skew(20deg);
  }
  25% {
    transform: scale(2);
    transform: skew(40deg);
    border-radius: 50%;
    background-color: pink;
  }
}
.container > a {
  border: 2px solid palevioletred;
  padding: 10px;
  color: cadetblue;
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.container > a:hover {
  background-color: aqua;
  color: black;
}
