* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blueviolet;
}
.container {
  border: 2px solid white;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .child {
  width: 50px;
  height: 50px;
  background-color: aqua;
  text-align: center;
  margin: 10px;
}
