* {
  margin: 0;
  background-color: black;
}
.container {
  background-color: black;
  width: 800px;
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 10px;
  text-align: center;
}
.s {
  background-color: rgba(120, 120, 120, 0.526);
  color: white;
  justify-content: center;
  align-content: center;
}
/* header {
  grid-column: 1/6;
}
nav {
  grid-column: 1/6;
}
main {
  grid-column: 1/3;
}
aside {
  grid-column: 4/6;
}
footer {
  grid-column: 1/6;
} */
header {
  grid-column: 1/3;
}
nav {
  grid-row: 2/4;
}
footer {
  grid-column: 1/3;
}
