.container {
  background-color: gray;
  width: 90%;
  height: 500px;
}
.d {
  width: 100px;
  height: 100px;
}
.one {
  background-color: green;
  position: relative;
  left: 100px;
}
.two {
  background-color: blue;
  position: absolute;
  left: 120px;
  bottom: 40px;
}
.three {
  background-color: red;
  position: fixed;
  left: 300px;
  bottom: 400px;
}
