@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --main-color: pink;
  --primary-color: #312e2e;
}
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
body {
  background-color: black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding-top: 15px;
}
li {
  display: inline;
  list-style: none;
}
li a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}
li a:hover {
  border-bottom: 2px solid var(--main-color);
}
.header {
  background: url(Coffee.jpg);
  margin-left: 25%;
  background-size: cover;
  transform: scale(0.5);
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  text-align: center;
}
.main-headings {
  top: 40px;
  font-size: 4rem;
  margin-bottom: 900px;
}
.primary-heading {
  font-size: 4rem;
  margin-top: 50px;
}
.main-btn {
  margin-top: 50px;
  transform: scale(2);
}
